.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.top{
    display: flex;
    gap: 20px;
    margin-right: 100px;
}
.sign{
    font-weight: 600;
}
.line1{
    width: 400px;
    background-color: black;
    height: 0.5px;
    margin-top: 35px;
}
.name{
    font-weight: 300;
}

input{
    border: none;
    border-bottom: 1px solid black;
    width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
}

.sub-bot{
    background-color: blue;
    color: white;
    width: 80px;
    height: 40px;
    margin-top: 80px ;
    margin-right: 530px;
    font-weight: 600;
}
 .bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }