/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.processing-div {
  animation: process backwards  2s linear;
  width: 1px;
  background-color: white;
  height: 1vh;
}

@keyframes process {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
 
.mute-img {
  background-image: url("./images/mute.png");
  width: 25px;
  height: 25px;
}
.mute-img:active {
  background-image: url("./images/play-buttton.png");
}
.playBut:active{
  animation-play-state: process paused;
}